<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>launch</title>
    <script  type="text/javascript" src='/static/js/fhir-client-v0.1.11.js'></script>
    <script  type="text/javascript" src='/static/js/fhir.js'></script>

    <style>
        .button {
            background-color: greenyellow;
            margin-left: 45%;
            align-content: center;
            background-size: auto;
        }
    </style>

</head>
<body>
<h1 align="center" class="container">EPIC Patient Facing Application</h1>
<br>
<br>
<h2 class="container" style="text-align: center">Are you sure to enter an Epic System?</h2>
<br>
<button class="button"><a
        href="https://signin.epic.com/adfs/ls/?wa=wsignin1.0&wtrealm=https%3a%2f%2ffhir.epic.com%2f&wctx=rm%3d0%26id%3dpassive%26ru%3d%252fAccount%252fSignIn%253freturnUrl%253d&wct=2023-09-23T12%3a34%3a09Z&wreply=https%3a%2f%2ffhir.epic.com%2f">
    Click me</a></button>
<button onclick="newAuth()">authorize</button>
<!--<span id="submitButton" class="submit" tabindex="4" role="button" onkeypress="if (event &amp;&amp; event.keyCode == 32) newAuth()" onclick="return newAuth();">Sign in</span>-->
</body>
</html>