<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .login {
            text-align: center;
            margin-top: 150px;
        }
    </style>
</head>
<body>
<form class="login">
    <label><b>Username: </b></label>
    <input type="text" id="UserName">
    <br>
    <br>

    <label><b>Password: </b></label>
    <input type="password" id="Password">
    <br>
    <br>
    <button onsubmit="/login">Login</button>
</form>
</body>
</html>