<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signs</title>
</head>
<body>
<table class="table table-success table-striped" id="vitalsigns">
    <thead>
    <tr class="table" style="font-size: 45px">
        <th scope="col" style="padding-right:70px" >vital signs</th>
        <th scope="col" style="padding-right:70px"> data</th>
        </tr>
    <td style="font-size: 25px">
        <ul>
        <li>Temperature</li>
        <li>Blood pressure</li>
        <li>Pulse Rate</li>
        </ul>
    </td>
    <td>
        <li>98</li>
        <li>124</li>
        <li>88</li>
</td>
    </thead>
</table>
</body>
</html>